@font-face {
  font-family: 'Core Rhino';
  font-weight: normal;
  src:  url('./CoreRhino25Thin.otf') format('opentype'),
        url('./CoreRhino35Light.otf') format('opentype'),
        url('./CoreRhino45Regular.otf') format('opentype'),
        url('./CoreRhino55Medium.otf') format('opentype'),
}
@font-face {
  font-family: 'Core Rhino';
  font-weight: bold;
  src:  url('./CoreRhino65Bold.otf') format('opentype'),
        url('./CoreRhino75Heavy.otf') format('opentype');
}
